
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    </head>
    <body >
        

        <div *ngIf="background" id="background" > 
            <div class="ingreso">
                 <h2>Si quieres, puedes ingresar tu nombre.</h2>
                    <input  autocomplete="off" #insert type="text">
                     <button mat-raised-button color="stroked" (click)="getInputValue(insert.value)" 
                    (click)="Ocultar()" type="button" id="Ocultar">INGRESAR </button> 
            </div>
        </div>


        
    <main *ngIf="DOM" id="DOM">

            <header class="Title">
                <div>  
                 <h1 style="color:white;">Bienvenido a mi portafolio <p id="NombreUsuario">{{NombreUsuario}}</p></h1>
                </div>
            </header>



        <section>  
                <div class="ImagenesYo1">
                    <div class="Image1"></div>
                </div>
                

            <div class="RESPONSIVE">
                <div class="Img1Celular"></div>
                <h3 class="MiTextoCelular">Hola <p id="NombreUsuario">{{NombreUsuario}}</p>, mi nombre es Alejo Tomas Aizpitarte, Soy un joven Programador web en proceso, tengo 17 años
                    y pienso dedicarme a esto a el 100% ya que me intereso mucho y disfruto creando soluciones a problemas, a continuacion, un poco mas de mi.
                   </h3>
            </div>  
         </section>
                <div>
                    <h3 class="MiTexto">Hola <p id="NombreUsuario">{{NombreUsuario}}</p>, mi nombre es Alejo Tomas Aizpitarte, Soy un joven Programador web en proceso, tengo 17 años
                     y pienso dedicarme a esto a el 100% ya que me intereso mucho y disfruto creando soluciones a problemas, a continuacion, un poco mas de mi.
                    </h3>
                    </div>
           

                <div class="LenguajesDomContainer">
                    <h4 class="LenguajesDom">Lenguajes</h4>
                </div>
            
        <div class="Iconos">
                <div class="html">
                </div>
            
                <div class="css">

                </div>
                <div class="js">

                </div> 
                <div class="angular">

                </div> 
                <div class="ts">

                </div> 
                <div class="csharp">

                </div> 
                <div class="sqlserver">

                </div> 
                <div class="bootstrap">

                </div> 
                <div class="github">

             </div> 
        </div>

        <div class="contactamecontainer">
            <h4 class="contactame"> Contactame</h4>
        </div>
        
        <div class="contactoimagenes">
            
        </div>

    <div class="ContainerForm" style="color:white;">
        <form action="https://formspree.io/f/mqknrpro"  method="POST" class="openModal"  target="_blank">
            <label for="nombre">Nombre</label>
            <input class="form-control" id="nombre" type="text" name="nombre"  required/>
           
            <label for="email">Email</label>
            <input class="form-control"  id="email" type="text" name="email" required/>

            <label for="email">Mensaje</label>
            <textarea  class="form-control"  id="mensaje" type="text" name="mensaje" required></textarea>
           
            <button  id="button" type="submit" mat-raised-button color="">Enviar</button>
          </form>
    </div>
    
<div>
    <a href="https://www.instagram.com/alejo.aizp/" target="_blank"><div class="instagram"></div></a>
    <a href="https://wa.me/2246588223" target="_blank"><div class="whatsapp"></div></a>
</div>

    </main>
</body>
</html>
